h2{
    text-align: center;
}

h1{
    text-align: center;
    margin-bottom: 2em;
}

.myItemClass.nav-item .nav-link{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: black;
    padding: 30px;
    transition: all 0.7s;
}
  
.myItemClass.nav-item.active .nav-link{
    color: black;
}
  
.collapse:hover .myItemClass.nav-item .nav-link{
    color: gray;
    transition: 0.7s;
}
  
.collapse .myItemClass.nav-item .nav-link:hover{
    color: black;
    transition: 0.7s;
}

#gallery{
    width: 70%;
    margin: auto;
}

@media only screen and (max-width: 991px){

    .myNavClass{
        background-color: white;
    }
    
    .myItemClass.nav-item .nav-link{
        color: gray;
        text-align: center;
    }
    
    .collapse .myItemClass.nav-item .nav-link:hover{
        color: gray
    }
    
    .myNavClass .navbar-toggler{
        border: none;
        margin-left: 80%;
        margin-top: 0;
    }
    
    .myNavClass .navbar-toggler:hover{
        background-color: white;
    }
    
    .myNavClass .navbar-toggler:active{
        border: none;
        text-decoration: none;
    }
  }